html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-colour);
  color: var(--primary-font);
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--background-hover);
  margin-top: 20px;
  color: var(--primary-font);
  padding: 10px;
}

.wrapper {
  flex: 1 0 auto;
}
