.carousel-item {
  background-size: cover;
  background-position: center center;
}

.carousel-indicators button{
  width: 30px;
  height: 30px !important;
  margin: 0 16px;
  border-radius: 3px;
}

.carousel-indicators .active {
  background-color: $primary;
}

.carousel-inner {
  max-height: 600px;
}

h1 {
  font-size: 34px;
  color: $primary;
}

h2 {
  color: $primary;
  font-size: 19px;
}

.accordion.d-md-none.p-3 {
  padding: 0 !important;
}

.accordion-button {
  background-color: $background-hover !important;
  border-bottom: 1px solid $primary;
}

.accordion-body {
  background-color: $background-colour;
}


.nav-link .active, .tab-content {
  background-color: $background-hover;
  border-radius: 5px;
}

.accordion-body img, .tab-content img {
  width: 100%;
}
 
.share {
  margin-top: 20px;
  
}

.share p, .share i {
  color: $navbar-light-color;
  margin-left: 10px;
}

.share i{
  font-size: 20px;
}