.nav-link.active {
  background-color: $background-hover;
  border-radius: 3px;
}

.nav-link:hover {
  background-color: $background-hover;
}

.navbar {
  &__inner {
    color: $navbar-light-color;
  }

  &__brand  {
    margin-right: 20px;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: $primary;
    font-style: italic;
    font-weight: bold;
  }
}

.navbar-toggler {
  border: none;
}

form.d-flex input {
  margin-right: 0 !important;
  border: none;
  border-radius: 3px 0 0 3px;
}

form.d-flex .btn-outline-success {
  background-color: $primary;
  color: $background-hover;
  border: none;
  border-radius: 0 3px 3px 0;
}
